.sectionTitle {
  position: relative;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 800;
}

.sectionTitle--withLine::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;

  width: 40px;
  height: 3px;
  border-radius: 10px;

  background-color: var(--color-accent);
}
